@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap');

:root {
    --primary: #90C2E7; /* light sky blue */
    --secondary: #4A6670; /* payne's gray */ 
    --tertiary: #A0AF84; /* olivine */
    --accent: #D6A2AD; /* puce */
    --dark: #170A1C; /* dark purple */
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--dark);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

a {
    border-bottom: 1px solid transparent;
    color: var(--accent);
    text-decoration: underline;
    transition: all 0.2s ease-in-out;
}
a:hover {
    filter: brightness(85%);
    /* text-decoration: underline double; */
    border-bottom-color: var(--accent);
}

/** Utility Classes */
.font-thin {
    font-weight: 200;
}
.font-normal {
    font-weight: 400;
}
.font-bold {
    font-weight: 600;
}
.font-14 {
    font-size: 14px;
}
.font-16 {
    font-size: 16px;
}
.font-20 {
    font-size: 20px;
}
.font-24 {
    font-size: 24px;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.relative {
    position: relative;
}
.uppercase {
    text-transform: uppercase;
}

/** Flex **/
.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-items: center;
}

/** Colors **/
.primary {
    background-color: var(--primary);
}
.primary-text {
    color: var(--primary);
}
.secondary {
    background-color: var(--secondary);
}
.secondary-text {
    color: var(--secondary);
}
.tertiary {
    background-color: var(--tertiary);
}
.tertiary-text {
    color: var(--tertiary);
}
.accent {
    background-color: var(--accent);
}
.accent-text {
    color: var(--accent);
}
.dark {
    background-color: var(--dark);
}
.dark-text {
    color: var(--dark);
}
.white-text{
    color: white;
}

.__debug__ {
    /*display: inherit;*/
    display: none;
}

#game-title {
    color: #DDDDDD;
    font-size: 56px;
    text-transform: uppercase;
    text-shadow: rgba(200, 200, 200, 0.6) 6px 0 4px;
}

#game-rules {
    background-color: rgba(200, 200, 200, 0.1);
    border-radius: 4px;
    margin-bottom: 2em;
    padding: 16px 24px;
}

#state-display {
    color: white;
}

.btn {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 12px;
}
.btn:hover {
    filter: brightness(85%);
}

#menu-link {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50%, 50%);
}

.game-container-wrapper {
    position: relative;
    background-color: #232323;
    border: #111111;
    border-radius: 5px;
    height: 500px;
    width: 750px;
}

.game-container {
    position: relative;
    height: 100%;
}

.game-buttons {
    margin-top: 16px;
    padding: 4px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
}

.game-buttons.low {
    top: 100%;
    transform: translate(-50%, 0%);
}

.game-msg {
    background: transparent;
    border: 1px solid var(--primary);
    border-radius: 4px;
    box-shadow: none;
    color: var(--primary);
    font-size: 28px;
    font-weight: 600;
    padding: 4px 8px;
    text-transform: uppercase;
   
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    
    transition: all 0.3s;
}

.game-msg.hidden {
    top: -20%;
    opacity: 0;
}

.game-msg.won {
    border-color: var(--tertiary);
    color: var(--tertiary);
}

.game-footer {
    margin-top: 4px;
    padding: 4px;
    transition: margin-top 0.5s;
}
.game-footer.low {
    margin-top: 64px;
}


.breakout-ball {
    position: absolute;
    background-color: var(--accent);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.layout-block {
    position: absolute;
}

.layout-block--row-0 {
    background-color: var(--secondary);
}

.layout-block--row-1 {
    background-color: var(--secondary);
    filter: brightness(120%);
}

.layout-block--row-2 {
    background-color: var(--primary);
}

.player-block {
    background-color: var(--tertiary);
    height: 15px;
    width: 75px;
    position: absolute;
    bottom: 16px;
}
